@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');


.card-title{
    font-family: 'Kurale', serif;
}

.nav{
    background-color: black;
    color: white;
    text-decoration-color: white;
    height: 100px;
    align-items: center;
}
.navbar-brand{
    color: white;
    font-family: 'Bangers', cursive;
    font-size: large;
    padding-left: 30px;

}

.card-columns{
    grid-column-gap: 10px;

    margin-top: 10px;
    align-items: center;
margin-right: 10%;
margin-left: 10%;
}
.btn-fullstop{
    background-color:black;
    color: white;
    border:2px solid black;
}
.card-body{
    align-items: center;
}
 body {
    color: blueviolet;
}
.card-img-top{
    width: 200px;
}
.card{

}
.nav-link{
    color: white;
}
.col-sm{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
}
.card-deck{
    padding-left:10px;
    padding-top: 10px;
    margin: 10px;
    padding-right: 10px;
}